.footer {
    background-color: #2d2dff; /* Azul forte */
    color: white;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
  }
  
  .footer-left {
    font-weight: bold;
  }
  
  .footer-right {
    display: flex;
    gap: 20px;
  }
  
  .footer-right a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .footer-right {
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }

    /* --- layout para fixar footer --- */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root, .app-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

main {
  flex: 1 0 auto;      /* conteúdo cresce e empurra o footer */
}

footer {
  flex-shrink: 0;      /* permanece colado no fim */
}

}