<app-header></app-header>

<div class="container">
    <section class="search-filter-container">
        <div class="search-box">
          <input type="text" placeholder="Pesquisar médico..." />
        </div>
      
        <div class="filter-selects">
          <!-- Data Picker -->
          <input type="datetime-local" [(ngModel)]="dataSelecionada" class="input-date">
      
          <!-- Especialização -->
          <select [(ngModel)]="especializacaoSelecionada">
            <option value="">Especialização</option>
            <option value="cardiologista">Cardiologista</option>
            <option value="pediatra">Pediatra</option>
            <option value="oftalmologista">Oftalmologista</option>
            <option value="ginecologista">Ginecologista</option>
          </select>
      
          <!-- Médico -->
          <select [(ngModel)]="statusSelecionado">
            <option value="">Status</option>
            <option value="carlos">Não agendado</option>
            <option value="leonardo">Agendado</option>
            <option value="fernando">Concluída</option>
            <option value="samara">CANCELADA</option>
          </select>
        </div>

        <div class="botoes-filtro">
        <button class="btn-danger">Limpar</button>
        <button class="btn-primary">Pesquisar ➔</button>
    </div>
    <button class="btn-secondary" (click)="abrirModalCadastro()">➕ Nova consulta</button>  
      </section>

  <section class="consultas-section">
    <h2 class="title">CLINIX</h2>

    <div class="filter-tags">
      <span class="tag">LISTA DE CONSULTAS</span>
    </div>

    <div class="grid-container">
  <div class="card" *ngFor="let consulta of consultas">
    <h3>{{ consulta.medico }}</h3>
    <p>{{ consulta.especialidade }}</p>
    <p>Descrição: {{ consulta.descricao }}</p>
    <p>Dia: {{ consulta.data }}</p>
    <p>Horário: {{ consulta.horaInicio }}</p>

    <span [ngClass]="{
        'status-nao-agendado': consulta.status === 'Não agendado',
        'status-agendado': consulta.status === 'Agendado',
        'status-concluido': consulta.status === 'Concluído',
        'status-cancelado': consulta.status === 'Cancelado'
      }" class="status-tag">
      {{ consulta.status }}
    </span>

    <!-- Botões de ação -->
    <div class="card-actions">
      <button class="btn-warning" (click)="abrirModalAtualizacaoConsulta(consulta)">✏️ Atualizar</button>
      <button class="btn-danger" (click)="excluirConsulta(consulta, $event)">🗑 Excluir</button>
    </div>
  </div>
</div>


    <div class="pagination">
      <button>&lt; Previous</button>
      <button>1</button>
      <button>Next &gt;</button>
    </div>
  </section>

  <section class="vantagens">
    <div class="vantagem-item">
      <img src="assets/relogio.png" alt="Relógio 24h" />
      <h4>Agendamento disponível 24h por dia</h4>
      <p>Agende sua consulta a qualquer hora e de qualquer lugar.</p>
    </div>

    <div class="vantagem-item">
      <img src="assets/celular.png" alt="Agendamento Celular" />
      <h4>Agendamento de consultas simples e prático</h4>
      <p>Encontre um especialista com poucos cliques.</p>
    </div>

    <div class="vantagem-item">
      <img src="assets/calendario.png" alt="Calendário de Agendamento" />
      <h4>Agende no horário ideal pra você</h4>
      <p>Busque especialistas no melhor horário para você.</p>
    </div>
  </section>
</div>
<app-footer></app-footer>

  <!-- Modal de Cadastro de Consulta -->
<app-modal-cadastro-consulta
  [show]="modalCadastroAberto"
  [id_usuario]="id_usuario"
  [id_medico]="id_medico"
  (close)="fecharModalCadastro()"
  (salvar)="criarConsulta($event)">
</app-modal-cadastro-consulta>


  
  <app-modal-atualizacao-consulta
  [show]="modalAtualizacaoConsulta"
  [consulta]="consultaSelecionada"
  (close)="fecharModalAtualizacao()"
  (salvar)="salvarConsultaAtualizada($event)">
</app-modal-atualizacao-consulta>
