<app-header></app-header>
<div class="conteudo-esticado">
  <div class="container">
    <section class="search-filter-container">
      <div class="search-group">
        <input
          type="text"
          class="input-search"
          placeholder="Pesquisar médico..."
          [(ngModel)]="nomeMedicoFiltro"
        />
        <input
          type="text"
          class="input-search"
          placeholder="Filtrar por descrição..."
          [(ngModel)]="descricaoFiltro"
        />
      </div>

      <div class="filter-selects">
        <input
          type="datetime-local"
          [(ngModel)]="dataSelecionada"
          class="input-date"
        />

        <select [(ngModel)]="especializacaoSelecionada">
          <option value="">Especialização</option>
          <option value="Cardiologia">Cardiologia</option>
          <option value="Pediatria">Pediatria</option>
          <option value="Ortopedia">Ortopedia</option>
          <option value="Dermatologia">Dermatologia</option>
          <option value="Neurologia">Neurologia</option>
        </select>

        <select [(ngModel)]="statusSelecionado">
          <option value="">Status</option>
          <option value="0">Não agendado</option>
          <option value="1">Agendado</option>
          <option value="2">Concluída</option>
          <option value="3">Cancelada</option>
        </select>
      </div>

      <div class="botoes-filtro">
        <button class="btn-danger" (click)="limparFiltros()">Limpar</button>
        <button class="btn-primary" (click)="aplicarFiltros()">
          Pesquisar ➔
        </button>
      </div>
      <ng-container *ngIf="tipoUsuario === 1 || tipoUsuario === 2">
        <button class="btn-secondary" (click)="abrirModalCadastro()">
          ➕ Nova consulta
        </button>
      </ng-container>
    </section>

    <section class="consultas-section">
      <h2 class="title">CLINIX</h2>

      <div class="filter-tags">
        <span class="tag">LISTA DE CONSULTAS</span>
      </div>

      <!-- LOADING -->
      <ng-container *ngIf="loading; else resultadoCarregado">
        <div class="loading-container">
          <div class="spinner"></div>
          <p>Carregando resultados...</p>
        </div>
      </ng-container>

      <!-- RESULTADO CARREGADO -->
      <ng-template #resultadoCarregado>
        <ng-container
          *ngIf="consultasFiltradas.length > 0; else nenhumaConsulta"
        >
          <div class="grid-container cards">
            <div class="card" *ngFor="let consulta of consultasFiltradas">
              <span
                [ngClass]="{
                  'status-nao-agendado': consulta.status === 0,
                  'status-agendado': consulta.status === 1,
                  'status-concluido': consulta.status === 2,
                  'status-cancelado': consulta.status === 3
                }"
                class="status-tag"
                title="{{ getStatusDescricao(consulta.status) }}"
              >
                {{ getStatusDescricao(consulta.status) }}
              </span>

              <h3 title="{{ consulta.medico?.nome }}">
                {{ consulta.medico?.nome || "Médico não informado" }}
              </h3>

              <p
                title="{{
                  getEspecialidadeMedico(consulta.medico?.especialidade)
                }}"
              >
                {{
                  getEspecialidadeMedico(consulta.medico?.especialidade) ||
                    "Especialidade não informada"
                }}
              </p>

              <p class="descricao-limitada" title="{{ consulta.descricao }}">
                <strong>Descrição:</strong> {{ consulta.descricao }}
              </p>

              <p title="{{ formatarData(consulta.data) }}">
                <strong>Dia:</strong> {{ formatarData(consulta.data) }}
              </p>

              <p title="{{ formatarHora(consulta.data) }}">
                <strong>Horário:</strong> {{ formatarHora(consulta.data) }}
              </p>
              <ng-container
                *ngIf="consulta.status != 0 && consulta.usuario?.nome"
              >
                <p title="{{ consulta.usuario.nome }}">
                  <strong>Agendada por:</strong> {{ consulta.usuario.nome }}
                </p>
              </ng-container>
              <ng-container *ngIf="consulta.status === 3">
                <p
                  title="{{
                    consulta.motivo_cancelamento
                      ? consulta.motivo_cancelamento
                      : 'Não informado'
                  }}"
                >
                  <strong>Motivo do cancelamento:</strong>
                  {{
                    consulta.motivo_cancelamento
                      ? consulta.motivo_cancelamento
                      : "Não informado"
                  }}
                </p>
              </ng-container>

              <ng-container *ngIf="tipoUsuario === 1 || tipoUsuario === 2">
                <div class="card-actions">
                  <button
                    class="btn-warning"
                    (click)="abrirModalAtualizacaoConsulta(consulta)"
                  >
                    Editar
                  </button>
                  <button
                    class="btn-danger"
                    (click)="excluirConsulta(consulta, $event)"
                  >
                    Deletar
                  </button>
                </div>
              </ng-container>

              <ng-container *ngIf="tipoUsuario === 0 && consulta.status !== 1">
                <div class="card-actions">
                  <button
                    class="btn-success"
                    (click)="agendarConsulta(consulta, $event)"
                  >
                    Agendar
                  </button>
                </div>
              </ng-container>
              <ng-container *ngIf="tipoUsuario === 0 && consulta.status != 3">
                <div class="card-actions">
                  <button
                    class="btn-danger"
                    (click)="cancelarConsulta(consulta, $event)"
                  >
                    Cancelar
                  </button>
                </div>
              </ng-container>
              <ng-container *ngIf="consulta.status === 3">
                <div class="card-actions">
                  <button
                    class="btn-success"
                    (click)="reagendarConsulta(consulta, $event)"
                  >
                    Re-agendar
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-template>

      <!-- NENHUMA CONSULTA -->
      <ng-template #nenhumaConsulta>
        <p class="nenhuma-consulta">Nenhuma consulta encontrada.</p>
      </ng-template>
    </section>

    <section class="vantagens">
      <div class="vantagem-item">
        <img src="assets/imgs/relogio.png" alt="Relógio 24h" />
        <h4>Agendamento disponível 24h por dia</h4>
        <p>Agende sua consulta a qualquer hora e de qualquer lugar.</p>
      </div>

      <div class="vantagem-item">
        <img src="assets/imgs/celular.png" alt="Agendamento Celular" />
        <h4>Agendamento de consultas simples e prático</h4>
        <p>Encontre um especialista com poucos cliques.</p>
      </div>

      <div class="vantagem-item">
        <img src="assets/imgs/calendario.png" alt="Calendário de Agendamento" />
        <h4>Agende no horário ideal pra você</h4>
        <p>Busque especialistas no melhor horário para você.</p>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>

<app-modal-cadastro-consulta
  [show]="modalCadastroAberto"
  (close)="fecharModalCadastro()"
  (consultaCadastrada)="consultaCriada()"
></app-modal-cadastro-consulta>

<app-modal-atualizacao-consulta
  [show]="modalAtualizacaoConsulta"
  [consulta]="consultaSelecionada"
  (close)="fecharModalAtualizacao()"
  (salvar)="salvarConsultaAtualizada($event)"
></app-modal-atualizacao-consulta>


<app-modal-cancelar-consulta
  [show]="showModalCancelar"
  [consulta]="consultaParaCancelar"
  (close)="showModalCancelar = false"
></app-modal-cancelar-consulta>