<div class="modal-overlay">
  <div class="modal-content">
    <h2>Atualizar Usuário</h2>

    <form (ngSubmit)="salvarAlteracoes()" class="form-usuario">
      <label for="nome">Nome:</label>
      <input type="text" [(ngModel)]="usuario!.nome" name="nome" required />

      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="usuario!.email" name="email" required />

      <label for="tipo">Tipo:</label>
      <select [(ngModel)]="usuario!.tipo_usuario" name="tipo" required>
        <option [value]="0">Paciente</option>
        <option [value]="1">Médico</option>
        <option [value]="2">Admin</option>
      </select>

      <ng-container *ngIf="usuario?.tipo_usuario === 1">
        <label for="crm">CRM:</label>
        <input type="text" [(ngModel)]="usuario!.crm" name="crm" required />

        <label for="especialidade">Especialidade:</label>
        <select [(ngModel)]="usuario!.especialidade" name="especialidade" required>
          <option [value]="1">Clínico Geral</option>
          <option [value]="2">Cardiologista</option>
          <option [value]="3">Ortopedista</option>
          <option [value]="4">Dermatologista</option>
        </select>
      </ng-container>

      <label for="status">Status:</label>
      <select [(ngModel)]="usuario!.status" name="status" required>
        <option [value]="0">Ativo</option>
        <option [value]="1">Deletado</option>
      </select>

      <div class="botoes">
        <button type="button" class="btn-cancelar" (click)="fechar.emit()">Cancelar</button>
        <button type="submit" class="btn-salvar">Salvar</button>
      </div>
    </form>
  </div>
</div>
