<div class="modal-overlay" *ngIf="show">
  <div class="modal-content">
    <div class="icon-container">
      <img src="../../../assets/imgs/calendario.png" alt="Calendar Icon" />
    </div>
    <h2>Nova consulta</h2>

    <form (ngSubmit)="onSalvar()">
      <input type="text" list="lista-medicos" [(ngModel)]="nomeMedicoSelecionado" (change)="selecionarMedicoPorNome()"
        placeholder="Buscar e selecionar médico..." [ngModelOptions]="{ standalone: true }" />

      <datalist id="lista-medicos">
        <option *ngFor="let medico of medicos" [value]="medico.nome"></option>
      </datalist>

      <input type="datetime-local" [(ngModel)]="dataHoraConsulta" min="minDateTime" name="dataHoraConsulta" required
        [ngModelOptions]="{ standalone: true }" />

      <input type="text" [(ngModel)]="descricaoConsulta" name="descricaoConsulta" placeholder="Descrição" required
        [ngModelOptions]="{ standalone: true }" />

      <div class="buttons">
        <button type="button" class="btn-cancel" (click)="onClose()">Cancelar</button>
        <button type="submit" class="btn-create">Criar</button>
      </div>
    </form>
  </div>
</div>