<app-header></app-header>
<div class="conteudo-esticado">
  <div class="legal-container">
    <h1>Sobre o CLINIX</h1>
    <p>
      O CLINIX é um sistema completo de gerenciamento de consultas médicas,
      criado para facilitar a vida de pacientes, médicos e administradores.
    </p>

    <ul>
      <li>Agendamento simples e rápido de consultas.</li>
      <li>Gestão eficiente de horários para os médicos.</li>
      <li>Controle total da plataforma pelos administradores.</li>
    </ul>

    <p>
      Nosso objetivo é unir tecnologia e saúde, oferecendo uma plataforma
      segura, intuitiva e acessível para todos os usuários.
    </p>
  </div>
</div>
<app-footer></app-footer>
