<app-header></app-header>
<div class="conteudo-esticado">
  <div class="legal-container">
    <h1>Política de Privacidade</h1>
    <p>
      No CLINIX, sua privacidade é uma prioridade. Comprometemo-nos a proteger
      seus dados com responsabilidade e transparência.
    </p>

    <ul>
      <li>
        Armazenamos apenas os dados necessários para operação da plataforma.
      </li>
      <li>Não compartilhamos seus dados com terceiros sem consentimento.</li>
      <li>Você pode solicitar a exclusão de seus dados a qualquer momento.</li>
      <li>
        Utilizamos criptografia e autenticação para garantir sua segurança.
      </li>
    </ul>

    <p>
      Estamos alinhados com a Lei Geral de Proteção de Dados (LGPD) e seguimos
      as melhores práticas do setor.
    </p>
  </div>
</div>
<app-footer></app-footer>
