<header class="header">
    <div class="header-left">
        <img src="assets/logo.png" class="logo" alt="Logo Clinix">
    </div>
  
    <nav class="header-center">
      <a href="#">Agenda</a>
      <a href="#">Médicos</a>
      <!-- <a href="#">Serviços ▼</a> -->
      <!-- <a href="#">Central de ajuda ▼</a> -->
    </nav>
  
    <div class="header-right">
      <button class="btn-secondary">➕ Nova consulta</button>
      <button class="btn-secondary">↩️ Log out</button>
    </div>
  </header>