<app-header></app-header>

<div class="usuarios-wrapper">
  <h2>Lista de Usuários</h2>

  <input type="text" [(ngModel)]="filtro" placeholder="Pesquisar usuário..." class="input-pesquisa" />

  <table>
    <!-- Colunas com larguras fixas -->
    <colgroup>
      <col style="width: 20%">
      <col style="width: 15%">
      <col style="width: 25%">
      <col style="width: 15%">
      <col style="width: 15%">
      <col style="width: 10%">
    </colgroup>

    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let usuario of usuariosFiltrados; let i = index">
        <td>
          <ng-container *ngIf="editandoIndex === i; else nomeView">
            <input [(ngModel)]="usuarioEditado.nome" />
          </ng-container>
          <ng-template #nomeView>{{ usuario.nome }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="editandoIndex === i; else tipoView">
            <select [(ngModel)]="usuarioEditado.tipo_usuario">
              <option [value]="0">Paciente</option>
              <option [value]="1">Médico</option>
              <option [value]="2">Admin</option>
            </select>
          </ng-container>
          <ng-template #tipoView>{{ tipoUsuarioToString(usuario.tipo_usuario) }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="editandoIndex === i; else emailView">
            <input [(ngModel)]="usuarioEditado.email" />
          </ng-container>
          <ng-template #emailView>{{ usuario.email }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="editandoIndex === i; else senhaView">
            <input [(ngModel)]="usuarioEditado.senha" type="text" />
          </ng-container>
          <ng-template #senhaView>{{ esconderSenha(usuario.senha) }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="editandoIndex === i; else statusView">
            <select [(ngModel)]="usuarioEditado.status">
              <option [value]="0">Ativo</option>
              <option [value]="1">Deletado</option>
            </select>
          </ng-container>
          <ng-template #statusView>{{ statusToString(usuario.status) }}</ng-template>
        </td>

        <td>
  <div class="acoes-wrapper">
    <ng-container *ngIf="editandoIndex === i; else editarBotao">
      <button class="btn btn-green" (click)="salvarEdicao(i)">✔</button>
      <button class="btn btn-red" (click)="cancelarEdicao()">✖</button>
    </ng-container>
    <ng-template #editarBotao>
      <button class="btn btn-icon center" (click)="editarUsuario(i)">🖉</button>
    </ng-template>
  </div>
</td>

      </tr>
    </tbody>
  </table>
</div>
<div class="pagination">
      <button>&lt; Previous</button>
      <button>1</button>
      <button>Next &gt;</button>
    </div>
<app-footer></app-footer>
