<app-header></app-header>
<div class="conteudo-esticado">
  <div class="legal-container">
    <h1>Termos de Uso</h1>
    <p>
      Bem-vindo ao CLINIX. Ao utilizar nossos serviços, você concorda com os
      seguintes termos:
    </p>
    <ul>
      <li>
        Você é responsável pelas informações fornecidas durante o uso da
        plataforma.
      </li>
      <li>Não é permitido o uso indevido ou malicioso do sistema.</li>
      <li>O sistema pode ser atualizado sem aviso prévio.</li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
